body{
    background-color: rgb(236, 212, 212);
}
.caja{
    margin: 8px;
    padding: 8px;
    background-color: rgba(250, 253, 253, 0.911);
    border-style: outset;
    border-radius: 5px;
}
.caja2{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: grey;
}
.caja3{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: grey;
}
.boton1{
    margin: 8px;
    padding: 8px;
    border-width: 1px rgba(253, 250, 250, 0.945);;
    background-color: rgb(99, 125, 241);
    color: #fff;
}
.boton2{
    margin: 8px;
    padding: 8px;
    border-width: 1px rgba(253, 250, 250, 0.945);
    background-color: rgb(148, 148, 150);
    color: #fff;
}